<!DOCTYPE html>
<html lang="zxx">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--====== Title ======-->
	<title>Convocation BUBT || Bangladesh University of Business and Technology</title>
	<!--====== Fabicon ======-->
	<link rel="shortcut icon" href="assets/img/logo/fabicon.png">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--====== Main css ======-->
	<link rel="stylesheet" href="assets/css/own.css" />
	<link rel="stylesheet" href="assets/css/footer.css" />
	<!--====== Responsive css ======-->
	<link rel="stylesheet" href="assets/css/responsive.css" />
	<!--====== Slider css ======-->
	<link rel="stylesheet" type="text/css" href="assets/css/sl/normalize.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/sl/demo.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/sl/component.css" />
	<script src="assets/js/sl/modernizr.custom.js"></script>
</head>

<body>
	<!--====== Header Start ======-->
	<header class="site-header sticky-header transparent-header">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar-inner">
					<div class="site-logo">
						<a href="index.html"><img src="assets/img/logo/logo.png" alt="BUBT"></a>
					</div>
					<div class="nav-menu">
						<ul class="mymenu">
							<li class="">
								<a href="index.html">Home</a>
							</li>
							<li class="">
								<a href="venu.html">About</a>
								<ul class="submenu">
									<li><a href="venu.html">Venue</a></li>
									<li><a href="schedule.html">Program Schedule</a></li>
									<li><a href="rules.html">Rules & Regulations</a></li>
									<li><a href="speech.html">Message & Speech</a></li>
									<li><a href="committees.html">Committees</a></li>
									<li><a href="goldmadelists.html">Gold Medalists</a></li>
								</ul>
							</li>
							<li>
								<a href="registration.html">Registration</a>
								<ul class="submenu">
									<li><a href="eligible.html">Eligible Students</a></li>
									<li><a href="registration.html">Registration Form</a></li>
									<li><a href="payment.html">Payment</a></li>
									<li><a href="confirmation.html">Confirmation Latter</a></li>
									<li><a href="edit.html">Edit Registration</a></li>
								</ul>
							</li>
							<li>
								<a href="fourth.html">Convocation</a>
								<ul class="submenu">
									<li><a href="fourth.html">4th Convocation</a></li>
									<li><a href="third.html">3rd Convocation</a></li>
									<li><a href="second.html">2nd Convocation</a></li>
									<li><a href="first.html">1st Convocation</a></li>
								</ul>
							</li>
							<li>
								<a href="gallery.html">Gallery</a>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="navbar-extra d-flex align-items-center">
						<a href="registration.html" class="main-btn nav-btn d-none d-sm-inline-block">Register Now!</a>
						<a href="#" class="nav-toggler">
							<span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu-panel">
			<div class="panel-logo">
				<a href="index.html"><img src="assets/img/logo/logo.png" alt="BUBT"></a>
			</div>
			<ul class="panel-menu">
				<li class="">
					<a href="index.html">Home</a>
				</li>
				<li class="">
					<a href="venu.html">About</a>
					<ul class="submenu">
						<li><a href="venu.html">Venue</a></li>
						<li><a href="schedule.html">Program Schedule</a></li>
						<li><a href="rules.html">Rules & Regulations</a></li>
						<li><a href="speech.html">Message & Speech</a></li>
						<li><a href="committees.html">Committees</a></li>
						<li><a href="goldmadelists.html">Gold Medalists</a></li>
					</ul>
				</li>
				<li>
					<a href="registration.html">Registration</a>
					<ul class="submenu">
						<li><a href="eligible.html">Eligible Students</a></li>
						<li><a href="registration.html">Registration Form</a></li>
						<li><a href="payment.html">Payment</a></li>
						<li><a href="confirmation.html">Confirmation Latter</a></li>
						<li><a href="edit.html">Edit Registration</a></li>
					</ul>
				</li>
				<li>
					<a href="fourth.html">Convocation</a>
					<ul class="submenu">
						<li><a href="fourth.html">4th Convocation</a></li>
						<li><a href="third.html">3rd Convocation</a></li>
						<li><a href="second.html">2nd Convocation</a></li>
						<li><a href="first.html">1st Convocation</a></li>
					</ul>
				</li>
				<li>
					<a href="gallery.html">Gallery</a>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="panel-extra">
				<a href="registration.html" class="main-btn btn-white">Register Now!</a>
			</div>
			<a href="#" class="panel-close">
				<i class="fal fa-times"></i>
			</a>
		</div>
	</header>
	<!--====== Header End ======-->
	<section>
		<div class="slider_sec">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="slider">
							<div id="boxgallery" class="boxgallery" data-effect="effect-1">
								<div class="panel"><img src="assets/img/slider/1.jpg" alt="Image 1"/></div>
								<div class="panel"><img src="assets/img/slider/2.jpg" alt="Image 2"/></div>
								<div class="panel"><img src="assets/img/slider/3.jpg" alt="Image 3"/></div>
								<div class="panel"><img src="assets/img/slider/4.jpg" alt="Image 4"/></div>
							</div>
						</div>
					</div>
					<div class="col-md-4"  style="height: 400px; background-color:turquoise">
						<div class="sidebar">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--====== Footer Start ======-->
	<footer id="footer" class="footer-area">
		<div class="container">
			<div class="footer_top ptb-20">
				<div class="row">
					<div class="footer_inner">
						<div class="footer_logo">
							<a href="index.html">
								<img src="assets/img/logo/bubt.png" alt="footer-logo">
							</a>
						</div>
						<div class="footerTitle">
							<h3><strong>BUBT</strong></h3>
							<h5><strong>Bangladesh University of Business and Technology</strong></h5>
						</div>
						<ul class="footer_address">
							<li>
								<p>
									<i class="fas fa-map-marker-alt"></i>
									Rupnagar, Mirpur-2, Dhaka-1216
								</p>
							</li>
							<li>
								<a href="mailto:www.yourmail.com">
									<i class="fa fa-envelope"></i>
									info@bubt.edu.bd
								</a>
							</li>
							<li>
								<a href="tel:+8801680050630">
									<i class="fa fa-phone"></i>
									+8801680050630 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer_content ptb-40">
				<div class="row">
					<div class="col-md-2">
						<div class="footer_widget">
							<h2 class="footer_title">Student Corner</h2>
							<ul class="list">
								<li><a href="https://annex.bubt.edu.bd/" target="_blank">Student Portal</a></li>
								<li><a href="{% url 'alumni' %}">Alumni</a></li>
								<li><a href="https://cse.bubt.edu.bd/" target="_blank">CSE BUBT</a></li>
								<li><a href="https://www.bubt.edu.bd/Home/page_details/Semester_Policy/" target="_blank">Semester Policy</a></li>
								<li><a href="https://www.bubt.edu.bd/downloads/index/9091/" target="_blank">Download Center</a></li>
							</ul>
						</div>
					</div> 
					<div class="col-md-2">
						<div class="footer_widget f_PL">
							<h2 class="footer_title">Quick Links</h2>
							<ul class="list">
								<li><a href="https://www.bubt.edu.bd/Home/page_details/Admission_Notices/" target="_blank">Admission</a></li>
								<li><a href="#">Registration</a></li>
								<li><a href="https://www.bubt.edu.bd/Home/page_details/Requirements_Procedures/" target="_blank">Requirements & Procedures</a></li>
								<li><a href="https://www.bubt.edu.bd/newsletter/" target="_blank">Newsletter</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_widget ">
							<h2 class="footer_title f_center">CLubs</h2>
							<div class="row">
								<div class="col-md-6">
									<ul class="list f_right">
										<li><a href="https://annex.bubt.edu.bd/" target="_blank">Annex</a></li>
										<li><a href="https://amllab.bubt.edu.bd/" target="_blank">AML Club</a></li>
										<li><a href="https://web.facebook.com/BUBTROVERDHAKA/" target="_blank">Rover Scout</a></li>
										<li><a href="https://web.facebook.com/bubt.cc/" target="_blank">Cultural Club</a></li>
										<li><a href="#">Programming Club</a></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list">
										<li><a href="https://itclub.bubt.edu.bd/"target="_blank">IT Club</a></li>
										<li><a href="https://web.facebook.com/BUBT-Sports-Club-737000109655346/" target="_blank">Sports Club</a></li>
										<li><a href="#">Language Club</a></li>
										<li><a href="https://web.facebook.com/BUBTSWC/" target="_blank">Social Welfare</a></li>
										<li><a href="https://web.facebook.com/Bubt.Photography.Club/" target="_blank">Photography Club</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="footer_widget f_right f_PR">
							<h2 class="footer_title">Academic</h2>
							<ul class="list">
								<li><a href="https://www.bubt.edu.bd/Home/all_notice/" target="_blank">Notice</a></li>
								<li><a href="http://103.15.140.180:8000/" target="_blank">Library</a></li>
								<li><a href="{% url 'results' %}">Results</a></li>
								<li><a href="{% url 'classroutine' %}">Class Routine</a></li>
								<li><a href="{% url 'examroutine' %}">Exam Routine</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div class="footer_widget f_right">
							<h2 class="footer_title">Important Links</h2>
							<ul class="list">
								<li><a href="http://www.ugc.gov.bd/" target="_blank">UGC</a></li>
								<li><a href="https://ictd.gov.bd/" target="_blank">ICT Division</a></li>
								<li><a href="https://pmo.gov.bd/" target="_blank">Prime Minister Office</a></li>
								<li><a href="http://www.moedu.gov.bd/" target="_blank">Ministry of Education</a></li>
								<li><a href="http://www.ugc.gov.bd/en/home/university/private/75" target="_blank">List of All Universities</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright_content">
				<div class="row">
					<div class="copyright_inner container">
						<div class="copyright">
							<p>&copy; 2021 || Design & Developed by <strong><a href="#">Team Crackers</a></strong></p>
						</div>
						<div class="footer_social">
							<ul class="footer_menu">
								<li><a href="https://www.facebook.com/BUBTOfficial/" target="_blank"><i class="fab fa-facebook"></i></a></li>
								<li><a href="https://www.youtube.com/channel/UCRy_y_ExPHhDbAh8Ouo4LDA" target="_blank"><i class="fab fa-youtube"></i></a></li>
								<li><a href="https://www.linkedin.com/company/31500180" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://plus.google.com/u/0/115227753775219314742" target="_blank"><i class="fab fa-google-plus"></i></a></li>
								<li><a href="https://twitter.com/BubtOfficial" target="_blank"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>                           
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--====== Footer End ======-->

	<!--====== For Slider js =======-->
	<script src="assets/js/sl/classie.js"></script>
	<script src="assets/js/sl/boxesFx.js"></script>
	<script>
		new BoxesFx( document.getElementById( 'boxgallery' ) );
	</script>
	<!--====== jquery js ======-->
	<script src="assets/js/jquery.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>

</body>

</html>
